html, body {
    box-sizing: border-box;
    background-color: lavender;

}


#container {
    display: flex;
    height: 50vh;	
    margin: auto;
    margin-top: 80px;

    flex-direction: row;
    flex-wrap: wrap;

}

#display {
    border: 2px black solid;
    flex-basis: 100%;
    justify-content: stretch;
}

button {
    flex-basis: 25%;
    justify-content: stretch;
}

.buttons {
    background-color: grey;
    font-size: 25px;
    color: white;
}

.operator, .clear {
    background-color: orange;
    font-size: 25px;
    color: white;
}