html, body {
    box-sizing: border-box;
    background-color: lavender;

}


#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#display {
    border: 2px black solid;
}

