html, body {
    box-sizing: border-box;
    background-color: lavender;

}


#container {
    display: flex;
    height: 95%;
    width: 500px;	
    margin: auto;
    margin-top: 80px;

    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#display {
    border: 2px black solid;
    padding: 7px;
}
